<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdWhirlBaseUrl</key>
	<string>http://ads.mymalcom.com/</string>
	<key>AdWhirlId</key>
	<string></string>
	<key>AssetsBaseURL</key>
	<string>http://assets.tebas.mymalcom.com/</string>
	<key>MalcomAppId</key>
	<string></string>
	<key>MalcomAppSecretKey</key>
	<string></string>
	<key>MalcomBaseURL</key>
	<string>http://api.mymalcom.com/</string>
</dict>
</plist>
